<style>
  #nav-logo{
    height: 13vw;
    padding-right: 100px;
  }

  .custom-background{
    /* background-color: rgba(94, 161, 58,0.5); */
    /* background-color: rgba(255,255,255,0.4); */
    background-color: #c4d600;
  }

  .nav-item{
    padding-right: 45px;

  }


  .nav-link{
    font-family: 'MuseoModerno', cursive;
    color: rgb(20, 79, 168);
    position: relative;


  }

.nav-link::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9619bf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;

}

  .nav-link:hover {
    color: #9619bf;
  }

.nav-link:hover::before{
  visibility: visible;
  transform: scaleX(1);
}





  @media (max-width: 667px){
    #nav-logo{
      height: 30vw;
      padding-right: 0;
    }
    .nav-link:hover::before{
      visibility: hidden;
      transform: scaleX(1);
    }
  }
</style>
<nav class="navbar navbar-expand-md custom-background">
 <!-- Brand -->
<%= link_to image_tag("seatradelogo.svg", id: "nav-logo", class: "img-fluid"), root_path, class:"navbar-brand" %>

 <!-- Toggler/collapsibe Button -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon">
     <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
   </span>
 </button>

 <!-- Navbar links -->
 <div class="collapse navbar-collapse" id="collapsibleNavbar">
   <ul class="nav navbar-nav">
     <li class="nav-item">
       <a class="nav-link" href="#"><%=t('navbar.home')  %></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><%= t('navbar.about_us') %></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><%= t('navbar.products') %></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><%= t('navbar.brands') %></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><%= t('navbar.contact') %></a>
     </li>

       <li class="nav-item">
         <%= link_to image_tag("UKFlag.png", width: "50", height: "30"), url_for(locale: :en), class: "nav-link"%>
        </li>
       <li class="nav-item">
         <%= link_to image_tag("SpainFlag.png", width: "50", height: "30"), url_for(locale: :es), class: "nav-link"%>
       </li>


   </ul>
 </div>
</nav>
